.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #004d00; /* Tummanvihreä tausta */
  color: #ffffff; /* Valkoinen teksti */
  padding: 10px 20px;
  box-shadow: 0 2px 2px -2px gray;
  border-bottom: 2px solid #004d00; /* Tummanvihreä alareuna */
  z-index: 1000;
}

.navbar-logo .logo {
  width: 80px;
}

.navbar-links {
  display: flex;
  gap: 20px;
}

.navbar-links a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.2rem;
}

.navbar-links a:hover {
  text-decoration: underline;
}

.navbar-user .user-name {
  font-size: 1.2rem;
  font-weight: bold;
}